*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/report/*.log
/report/*.aux
/report/*.fdb_latexmk
/report/*.synctex.gz
/report/*.toc
/report/*.fls
/report/*.bbl
/report/*.bcf
/report/*.blg
/report/*.out
/report/*.pdf
/.idea/vcs.xml
/report/*.run.xml
/app/.classpath
/app/.project
/app/.settings
/apikey.properties
